.input-container {
    display: flex;
    flex-direction: column;
}

input {
    border: black solid 1px;
    background-color: white;
    font-family: inherit;
    color: black;
    border-radius: 5px;
}

.input-error {
    font-size: .8em;
    color: red;
}