:root {
  font-family: "Archivo Black";
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  --red-toolbox: rgb(206, 31, 0);
  --yellow-toolbox: #f7ca7a;
  --light-toolbox: #f3f3e1;
  --light-secondary-toolbox: #ddddcd;
  --dark-toolbox: #212121;

  color-scheme: light dark;
  color: var(--red-toolbox);
  background-color: var(--light-toolbox);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.hide {
  visibility: hidden;
}